{% extends 'Base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">This is a Logout page.</p>
                    <a href="/" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer style="background-color: #333;padding-left:650px;padding-top:20px;padding-bottom:20px;margin-top:40px">
    <p style="color: #fff;">&copy; 2023 My-Taxi. All rights reserved.</p>
    <a href="https://drive.google.com/file/d/1Klfs4L2zrb_Wue2CcT2IDxlU9IO3bGWf/view?usp=drivesdk">jagadeeshgouda</a>
  </footer>
{% endblock content %}
